.food-container{
    margin: 20px 45px;
    
}

.foods-time button {
   background-color: white;
   border: none;
    color: black;
}

.foods-time .single-btn{
    margin: 0px 15px;
}

.foods-time button:hover{
    border-bottom: 2px solid rgb(241, 61, 61);
    color: rgb(241, 61, 61);
}

.food-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-column-gap: 30px; */
    grid-row-gap: 20px;
}

.food-container .checkout-btn{
    margin-top: 40px;
    background-color: rgb(241, 61, 61);
    border: 1px solid gray;
    border-radius: 20px;
    color: white;
    padding: 5px 25px;
    font-size: 14px;
}



.food-container .checkout-btn:hover{
    background-color: black;
    transform: scale(1.05);
}

@media only screen and (max-width:688px) {
    .food-items{
        display: grid;
        grid-template-columns: 1fr;
    
    }

    .foods-time button {
       display: flex;
       justify-content: center;
       align-items: center;
     }
    
}